/* Reset default browser spacing*/
body {
    margin: 0;
    font-family: Ariel,sans-serif;
    background-color: rgb(58, 93, 208);
}

/* Header */
header {
    background-color: rgb(44, 55, 211);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav {
    background-color: rgb(34, 16, 189);
    padding: 10px;
    text-align: center;

}

nav a {
    color: rgb(76, 106, 211);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {

    text-decoration: underline;
}

/* Main content */
main {
    padding: 20px;
}

/* Sections */
section{
    background-color: rgb(53, 64, 218);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

/* Products */
.product {
    border: 1px solid rgb(52, 76, 196);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

/*Footer*/
footer {
    background-color: rgb(49, 20, 116);
    color: #5135b5;
    text-align: center;
    padding: 10px;

}